<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>EfirWorld</title>
        <link rel="icon" type="image/png" href="../img/favicon.png">
        <link rel="stylesheet" href="../styles/home.css">
    </head>
    <body>
        <nav class="nav-bar">
            <img class="logotype" src="../img/logotype.png">
            <ul>
                <li>HOME</li>
                <li>SHOP</li>
                <li>RULES</li>
            </ul>
            <button class="goto-telegram">
                <div class="svg-wrapper-1">
                  <div class="svg-wrapper">
                    <svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                      <path d="M0 0h24v24H0z" fill="none"></path>
                      <path d="M1.946 9.315c-.522-.174-.527-.455.01-.634l19.087-6.362c.529-.176.832.12.684.638l-5.454 19.086c-.15.529-.455.547-.679.045L12 14l6-8-8 6-8.054-2.685z" fill="currentColor"></path>
                    </svg>
                  </div>
                </div>
                <span>Our telegram</span>
            </button>
        </nav>
        <div class="hello-container">
            <div class="hello">
                <h1>EFIR WORLD</h1>
                <p class="description">Here you can join amazing adventures with your friends! Create your own unique world, build incredible structures and explore the vast expanses of the block universe.</p>
                <div class="monitoring">
                    <div class="circle">
                        <img src="../img/triangle.png">
                    </div>
                    <div class="info">
                        <p class="server-name">
                            MC.EFIR.COM
                            <br>
                            <a>PLAYERS ONLINE: 153/500</a>
                        </p>
                        <p class="players-count"></p>
                        <div class="progress-bar">
                            <div class="progress"></div>
                        </div>
                    </div>
                </div>
            </div>
            <img class="character" src="../img/character.png">
        </div>
    </body>
</html>